@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Redressed&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Slab:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landing,
.about,
.blogs,
.blog-view {
  background-color: #88786b;
  font-family: "Poppins", sans-serif;
}
.contacts,
.work {
  background-color: black;
  color: whitesmoke;
}
section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.landing header,
.contacts header,
.about header,
.articles header,
.showArt header,
.user-login header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.navigator {
  margin: 20px 0px -5% 7%;
  line-height: 90px;
}
.anime-me a {
  font-weight: 900;
  background: linear-gradient(
    to right,
    black 50%,
    rgb(2, 2, 46) 50%,
    rgb(187, 201, 187)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
}
.anime-me:hover a {
  background-position: -100%;
}
.navigator a {
  font-family: "Redressed", cursive;
  font-weight: bold;
  font-size: 10rem;
  color: black;
}
.navigator .navOne {
  width: 30%;
}

.navigator .navTwo {
  margin-left: 10%;
  width: 27%;
}
.navigator .navThree {
  margin-left: 20%;
}
.navigator .lastNav {
  display: flex;
  align-items: center;
}
.navigator .navFour a {
  font-family: "Redressed", cursive;
  font-weight: bold;
  font-size: 3.8em;
  font-weight: bold;
  margin-left: 10px;
}

aside {
  position: absolute;
  top: 100px;
  right: 10px;
}
.socialmedia a {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin-top: 5px;
}
.socialmedia a:hover {
  background-color: #d8d8f5;
  transition: all 0.4s ease-out;
}
.socialmedia i {
  color: white;
}
.socialmedia i:hover {
  color: rgb(12, 45, 34);
}
.vert-line {
  margin-top: 35px;
  margin-left: 15px;
  height: 150px;
  border-left: 3px solid black;
}

footer {
  display: flex;
  font-size: 0.5em;
  margin-top: 23%;
  margin-left: 5%;
}
.horiz-line {
  width: 150px;
  border-bottom: 3px solid black;
  margin: auto;
}
/*animated text*/
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: black;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  height: 33vmin;
  left: 83%;
  position: absolute;
  top: 83%;
  transform: translate(-50%, -50%);
  width: 40vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 90%;
}
.animated-title > div div {
  font-size: 2vmin;
  padding: 1vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: white;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
.animated-title #ju-name {
  font-weight: bolder;
  font-size: 3vmin;
  height: 30%;
}
/* ---------=============**********Contactpage************===========-------- --- */

.contacts header {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}
.contacts header a {
  color: white;
}
.content {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 60px 100px 50px 100px;
}
.contacts .contact-title {
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 2em;
}
.contacts .vert-line {
  position: absolute;
  right: 20px;
  border-left: 3px solid whitesmoke;
}
.left-cont {
  width: 100%;
  line-height: 50px;
  text-align: center;
}
.contacts form {
  width: 100%;
  text-align: center;
}
.contacts form .form-control {
  box-sizing: border-box;
  width: 250px;
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px white solid;
  color: white;
}
.contacts form .submit {
  width: 250px;
  height: 40px;
}
.right-cont {
  width: 100%;
  text-align: center;
}
.right-cont h3 {
  font-family: "Redressed", cursive;
  font-size: 5em;
  font-weight: bold;
}
.lines {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-cont .lineOne {
  width: 40%;
  border-bottom: 0.5px whitesmoke solid;
  margin: 20px;
}
.right-cont .lineTwo {
  width: 30%;
  border-bottom: 1px whitesmoke solid;
}
.cont-social {
  margin-top: 20px;
}
.cont-social h6 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
}
.icon-social {
  margin-top: 10px;
}
.icon-social a {
  padding: 7px;
  margin: 20px 3px 0px 0px;
  background-color: whitesmoke;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
}
.icon-social a:hover {
  background-color: #88786b;
}
.icon-social i {
  color: black;
}
.contacts .footer {
  margin: auto;
  padding-bottom: 20px;
}
/* ------- =============== About page ============== ---- */
.about header {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}
.about header span a {
  color: white;
}
.about-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5% 10%;
}

.about-profile {
  width: 20%;
}
.about-profile img {
  width: 300px;
  height: 450px;
}
.about-info {
  width: 60%;
}
.about-info h1,
.about-info h2 {
  text-align: right;
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  font-weight: bold;
}
.about-info .summary {
  margin: 30px 0px 0px 100px;
  text-align: justify;
}
.about-info .summary h5 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.6em;
  font-weight: 700px;
  margin-bottom: 50px;
  text-align: left;
}
.about-info .summary i {
  margin-left: 150px;
}
.about-info .summary a {
  text-decoration: underline;
  font-size: 1.6em;
  font-weight: bold;
  color: black;
}
.about-info p {
  padding: 5px 0px;
}
.about-info .skills {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "skills-title skills-title"
    "skills-one skills-two";
}
.about-info .skills #skills-title {
  grid-area: skills-title;
  justify-self: center;
  text-decoration: underline;
}
.about-info .skills #skills-one {
  grid-area: skills-one;
  justify-self: start;
}
.about-info .skills #skills-two {
  grid-area: skills-two;
  justify-self: end;
}

/*---------=========******* Article *********==========----------*/
.articles,
.showArt {
  background: black;
  color: white;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
}
.articles aside .socialmedia a {
  background-color: white;
  font-family: "Poppins";
}
.articles aside .socialmedia i {
  color: black;
}
.articles aside .vert-line {
  border-left: 3px white solid;
}
.art-list {
  width: 70%;
  margin: 20px auto;
}
.article-head {
  width: 100%;
  margin: 5px auto;
  text-align: center;
  margin-bottom: 30px;
}
.article-head form {
  margin: 5px 0px;
}

.article-head input {
  height: 30px;
  width: 250px;
  outline: none;
  padding: 5px;
  font-size: 1em;
}
.article-head form button {
  height: 34px;
  width: 100px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  background: rgb(6, 6, 216);
  color: white;
  border-radius: 5px;
}

.art-item {
  display: flex;
  margin-bottom: 20px;
}
.art-info {
  margin-left: 15px;
}

.art-info .art-meta {
  font-size: small;
  font-style: italic;
  color: wheat;
}
.art-info .art-intro {
  margin-bottom: 5px;
}
.art-info div,
.art-info a {
  margin-bottom: 5px;
}
.art-info .readMore {
  font-size: 0.8em;
}
.art-info .readMore:hover {
  color: rgb(117, 117, 182);
  transition: 2s ease-in-out;
  text-decoration: underline;
}
.art-info .art-comment a {
  margin-left: 10px;
}
.articles footer {
  margin-top: 210px;
}

/*==============--------**** Show Article ****--------=======*/

.showArt-container {
  width: 50%;
  margin: 0px auto;
}
.showArt aside .socialmedia a {
  background-color: white;
  font-family: "Poppins";
}
.showArt aside .socialmedia i {
  color: black;
}
.showArt aside .vert-line {
  border-left: 3px white solid;
}

.showArt-head {
  width: 75%;
  margin: 20px auto 100px auto;
  display: flex;
  justify-content: space-between;
}
.comment-part {
  margin: 70px 0px;
}
.comment-part form textarea {
  resize: none;
  width: 100%;
  background: whitesmoke;
  outline: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  margin-top: 10px;
}
.comment-part form button {
  width: 70%;
  margin-left: 15%;
  outline: none;
  background-color: rgb(49, 49, 150);
  color: black;
  font-size: 1em;
  font-weight: bold;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: -10px;
}
.comment-part form button:hover {
  background-color: rgb(10, 10, 73);
  color: antiquewhite;
  transition: 2s ease-in-out;
}
.showArt-cont div {
  margin: 20px 0px;
  text-align: justify;
}
.showArt-cont a {
  margin: 10px 10px;
  color: wheat;
  font-size: smaller;
}
.comment-area {
  width: 85%;
  margin: 50px auto;
  background: #121213;
  padding: 30px;
  border-radius: 10px;
}
.comment-area h4 {
  margin-bottom: 20px;
  text-decoration: underline;
}
.comment-info {
  margin-bottom: 5px;
  text-align: center;
}

.comment-info .comment-line {
  width: 35%;
  border-bottom: 3px solid white;
  margin: 5px auto;
  border-radius: 50%;
}
.commentBy,
.commented-date {
  font-size: smaller;
  color: wheat;
}
/*==============--------**** Blog view ****--------=======*/

.blog-view {
  background-color: #88786b;
  display: grid;
  grid-template-columns: 5% 10% 50% auto 10% 5%;
  grid-template-rows: 7% 7% auto auto 5% 20%;
  grid-template-areas:
    ". logoB . . loginB ."
    ". . blgV-title blgV-title blgV-side ."
    ". . blg-article blg-view-side blgV-side ."
    ". . blg-article blg-article-cont blg-Vside ."
    ". . blg-like . . ."
    ". . blg-comment . . .";
}

.blog-view .logo {
  grid-area: logoB;
  align-self: center;
}
.blog-view .login {
  grid-area: loginB;
  justify-self: end;
  align-self: center;
}
.blgV-side {
  grid-area: blgV-side;
  justify-self: end;
  align-self: center;
}
.blgV-side a {
  display: block;
  background-color: black;
  width: 25px;
  height: 25px;
  margin: 10px;
  text-align: center;
  border-radius: 50%;
}
.blgV-side i {
  color: white;
  font-size: small;
}
.blgV-side .side-line {
  height: 200px;
  border-right: 3px black solid;
  margin-right: 20px;
}
.blgV-title {
  grid-area: blgV-title;
  display: flex;
  justify-content: space-between;
}
.blgV-title h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
  text-decoration: underline;
}
.blg-article {
  grid-area: blg-article;
  padding: 0px 50px;
  text-align: justify;
}
.blg-article-cont {
  grid-area: blg-article-cont;
  text-align: justify;
}
.blg-article-cont h4 {
  margin-bottom: 10px;
}
.blg-article img {
  margin: 17px 0px;
}
.blg-article strong {
  font-size: 2em;
  font-style: lighter;
}
.blg-view-side {
  grid-area: blg-view-side;
  align-self: center;
}
.blg-view-side h3 {
  font-family: "Roboto slab", serif;
  text-align: center;
  font-size: 1.6em;
  font-weight: bolder;
  margin: 30px 0px;
  text-decoration: underline;
}
.blgVside {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto 3);
  grid-template-rows: repeat(auto 3);
  grid-template-areas:
    "blgVside-date blgVside-cont blgVside-arrow"
    "blgVside-date blgVside-cont blgVside-arrow"
    "blgVside-date blgVside-cont blgVside-arrow";
  grid-gap: 20px;
}
.blgVside .blgVside-date {
  grid-area: blgVside-date;
  align-self: end;
  font-size: small;
  font-weight: 1000;
}
.blgVside .blgVside-cont {
  grid-area: blgVside-cont;
}
.blgVside .blgVside-arrow {
  grid-area: blgVside-arrow;
  align-self: center;
}
.blg-comment {
  grid-area: blg-comment;
  padding: 20px 50px;
  align-self: center;
}
.blg-comment h4 {
  margin-bottom: 10px;
}
.blg-comment form input {
  width: 45%;
  height: 35px;
}
.blg-comment form textarea {
  height: 60px;
}
.blg-comment form input,
form textarea {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px black solid;
  background-color: rgb(46, 46, 48);
  color: antiquewhite;
}
.blg-comment form #long {
  width: 91%;
}
.blg-comment form #sub {
  background-color: black;
  color: white;
  cursor: pointer;
}
.blg-like {
  grid-area: blg-like;
  justify-self: end;
  padding-right: 100px;
}
.blg-like i {
  font-size: 3em;
}
.blg-like i:hover {
  color: red;
  transition: 2s ease-in-out;
}
.blg-like p {
  font-size: large;
}

/* ---------------==================************ Works **********===========-------- */
.works {
  background-color: #01010a;
  color: whitesmoke;
}
.works header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.works aside .socialmedia a {
  background-color: white;
  font-family: "Poppins";
}
.works aside .socialmedia a:hover {
  background-color: #88786b;
}
.works aside .socialmedia i {
  color: black;
}

.works aside .vert-line {
  border-left: 3px white solid;
}
.works .works-title {
  margin-left: 100px;
  font-family: "Redressed", curisive;
  font-weight: bold;
  font-size: 2em;
  text-decoration: underline;
}
.works .works-cont {
  width: 85%;
  margin: 50px auto 0px auto;
  display: flex;
  justify-content: space-between;
}
.works .works-cards {
  width: 50%;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 30px 0px 0px 100px;
}
.works .works-cards .frame {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "first second" "third fourth";
}
.works-cards .sqr-corner {
  width: 20px;
  height: 15px;
  border: 3px rgb(42, 42, 51) solid;
}
.works-cards .first {
  grid-area: first;
  border-width: 3px 0px 0px 3px;
  border-top-color: darkblue;
  border-left-color: darkred;
}
.works-cards .second {
  grid-area: second;
  border-width: 3px 3px 0px 0px;
}
.works-cards .third {
  grid-area: third;
  border-width: 0px 0px 3px 3px;
}
.works-cards .fourth {
  grid-area: fourth;
  border-width: 0px 3px 3px 0px;
  border-bottom-color: darkred;
  border-right-color: darkblue;
}
.works-cards .frame {
  width: 100%;
  object-fit: contain;
}
.works-cards .frame img {
  position: absolute;
  margin: 0.8%;
  height: 20%;
  width: 19%;
}
.works-cards .frame h6,
a {
  margin: auto;
  color: white;
}

.works .expl-works {
  width: 30%;
  border: 1px rgb(24, 24, 32) solid;
  height: 50%;
  margin-top: 150px;
  padding: 20px;
  background-color: #02040a;
}
.works .expl-works h3 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 3px;
}
.works .expl-works p {
  text-align: justify;
}
.works .footer {
  margin-left: 40px;
  margin-top: 20px;
}
/* -------==============******* Dashboard *********======------*/
.dashboard {
  background-color: #0d101b;
  display: grid;
  grid-template-columns: 15% auto;
}

.sidebar {
  background-color: #161b30;
  color: white;
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 140px 70px 70px 70px 70px 70px 70px 70px 5px 20px;
  grid-template-areas:
    ". sidb-title ." ". dashb ." ". posts ." ". media ." ". comments ."
    ". subscrib ." ". settings ." ". . ." ". logout logout";
}
.sidebar .sidb-title {
  grid-area: sidb-title;
  align-self: center;
  justify-self: center;
}
.sidebar .dashb {
  grid-area: dashb;
  align-self: center;
}
.sidebar .posts {
  grid-area: posts;
  align-self: center;
}
.sidebar .media {
  grid-area: media;
  align-self: center;
}
.sidebar .comments {
  grid-area: comments;
  align-self: center;
}
.sidebar .subscription {
  grid-area: subscrib;
  align-self: center;
}
.sidebar .settings {
  grid-area: settings;
  align-self: center;
}
.sidebar .logout {
  grid-area: logout;
  align-self: end;
  justify-self: end;
  margin-right: 20px;
  width: 90px;
}
.sidebar .dbtn {
  border: 1px white solid;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}
.sidebar .dbtn a {
  padding-right: 42px;
}
.mainbar {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 10% 3% auto 3% 45% 2%;
  grid-template-areas:
    "dash-head dash-head dash-head"
    ". . ."
    ". middle-part ."
    ". . ."
    ". down-part ."
    ". . .";
}
.dash-head {
  background-color: #10162c;
  grid-area: dash-head;
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-areas: ". search-dash admin-profile";
}
.search-dash {
  grid-area: search-dash;
  justify-self: end;
  align-self: center;
  margin-right: 20px;
}
.search-dash input {
  width: 200px;
  border-radius: 30px;
  padding: 3px 10px;
}
.admin-profile {
  grid-area: admin-profile;
  align-self: center;
}
.admin-profile img {
  border-radius: 50%;
}
.mainbar .middle-part {
  grid-area: middle-part;
  border: 1px white solid;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(auto 4);
  grid-template-rows: 13% auto auto 2%;
  grid-template-areas:
    "select-dash . . ."
    "dash-cards dash-cards . dash-chart"
    "dash-cards dash-cards . dash-chart"
    ". . . .";
}
.dash-cards {
  grid-area: dash-cards;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.dash-cards div a {
  padding: 10px;
  width: 200px;
  height: 90px;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dash-cards div i {
  font-size: 2.5em;
  color: black;
}
.dash-cards div h3 {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bolder;
  color: black;
}
.dash-cards div h2 {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bolder;
  color: black;
}
.middle-part .select-dash-period {
  grid-area: select-dash;
  width: 100px;
  height: 25px;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 0px 5px;
  justify-self: end;
}
.middle-part .dash-chart {
  grid-area: dash-chart;
}
.mainbar .down-part {
  display: grid;
  grid-template-columns: 65% 3% auto;
  grid-template-areas: "tab . message";
  grid-area: down-part;
  background-color: #10162c;
  border: 1px black solid;
  color: wheat;
}
.down-part .tab {
  grid-area: tab;
  border: 2px white solid;
  border-radius: 10%;
  border-collapse: collapse;
  margin: 20px;
}
.down-part .tab th {
  text-align: center;
}
.down-part .tab td {
  text-align: center;
}
.down-part .message {
  grid-area: message;
  border: 2px black solid;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: #05051f;
}
.down-part .message h4 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  color: whitesmoke;
}
.down-part .message .mess {
  display: flex;
  margin: auto;
}
.down-part .info-message {
  font-size: x-small;
}
.down-part .mess img {
  border-radius: 50%;
  margin: auto 5px;
}
.down-part .mess-line {
  width: 100px;
  border-bottom: 1px whitesmoke solid;
  margin: 5px auto;
  border-radius: 50%;
}
/* ==================------------------ login with your Acc ---------------=========== */

.user-login {
  background-color: black;
  color: white;
}
.user-login .login-title {
  width: 100%;
  margin-top: 40px;
  font-family: "courier New";
  font-size: 1.2em;
  text-align: center;
}
.user-login .login-cont {
  width: 70%;
  height: 40vh;
  margin: 10px auto 160px auto;
  display: flex;
  justify-content: space-between;
  padding: 100px 10% 50px 10%;
}
.login-left form input {
  margin-bottom: 10px;
  width: 100%;
  color: white;
}
.login-left form i {
  margin-left: -18px;
  cursor: pointer;
}
.login-left form .form-control {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  padding: 5px 5px;
  border: none;
  background: none;
  outline: none;
  width: 250px;
  border-bottom: 0.5px white solid;
}
.login-left form .submit {
  background-color: white;
  outline: none;
  height: 30px;
  margin-top: 10px;
  padding: 3px 10px;
  border-radius: 15px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.login-right div {
  width: 100%;
  border: 1px white dotted;
  margin-bottom: 10px;
  padding: 5px 0px 5px 30px;
  border-radius: 20px;
  cursor: pointer;
}
.user-login-footer {
  margin: 70px auto 20px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.user-login-footer .user-signUP {
  margin-top: -40px;
}
.user-login-footer .user-signUP strong {
  font-size: 1.3em;
  text-decoration: underline;
  cursor: pointer;
}

/* -----------============= User signUp ==============-----------------*/
.signup-cont {
  margin-top: 70px;
  margin-bottom: 180px;
  display: flex;
  justify-content: center;
}
.signup-cont .form-control {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  background: none;
  color: white;
  margin-bottom: 20px;
  height: 20px;
  width: 250px;
  border: none;
  outline: none;
  padding: 15px 5px;
  border-bottom: 1px solid white;
}
.signup-cont form i {
  margin-left: -18px;
  cursor: pointer;
}
.signup-cont .submit {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

/* ======================= -------------------************** MEDIA **************---------------===================== */

@media (max-width: 1200px) {
  /* ===============------------ landing page -----------============ */
  .animated-title {
    position: absolute;
    margin-top: 90px;
    left: 87%;
  }
  .landing footer {
    margin-top: 250px;
  }

  /* =====================-----------Works -----------==================== */
  .expl-works {
    margin-top: 100px;
  }
}
@media (max-width: 800px) {
  .navigator {
    margin: auto;
    text-align: center;
  }
  .navigator a {
    font-size: 7rem;
  }
  .navigator .navTwo {
    margin-left: 0;
  }
  .navigator .navThree {
    margin-left: 0;
  }
  .navigator .lastNav {
    display: block;
  }

  .intro {
    position: absolute;
    top: 600px;
    right: 50%;
  }

  .landing aside {
    position: relative;
    top: 230px;
    margin: auto;
  }
  .landing aside .socialmedia a {
    margin: auto 5px;
    display: inline-block;
    width: 60px;
    height: 60px;
  }
  .landing aside .socialmedia a:hover {
    background: white;
    color: black;
  }
  .landing aside .socialmedia i {
    font-size: 2em;
    margin-top: 15px;
  }
  footer {
    margin: 250px auto 50px;
  }
  .landing .horiz-line {
    display: none;
  }
  .landing .vert-line {
    display: none;
  }

  /* ----------------============= About ============-------------- */
  .about-info .summary #sum-sec {
    width: 100%;
    position: absolute;
    left: 10px;
    padding: 20px 90px 20px 60px;
  }
  .about-info .skills {
    margin: 150px 0px 0px 0px;
  }
  /* -----------========= Works =======---------- */
  .works aside {
    display: none;
  }
  .works .works-cont {
    display: inline;
  }
  .works .works-cards {
    width: 90%;
    margin: 230px auto 20px auto;
    height: 500px;
  }
  .works-cards .frame img {
    width: 42%;
    height: 20%;
    margin: 1.3%;
  }
  .works .expl-works {
    width: 90%;
    margin: auto;
    position: absolute;
    top: 190px;
    left: 40px;
    height: 170px;
    font-size: large;
  }
  .works .footer {
    margin: 50px 0px 30px 290px;
    margin-left: 290px;
  }

  /* -------------========= Blogs ===========----------- */

  /* ------------------============= User login with.. ===========---------- */
  .user-login .login-cont {
    width: 100%;
    padding: 100px 15% 50px 15%;
  }
  .user-login .user-login-footer {
    width: 100%;
    padding: 0px 30px;
  }
}
@media (max-width: 770px) {
  .contacts .content {
    display: inline;
    padding: 0;
  }
  .contacts .contact-title {
    margin-top: -10px;
  }
  .contacts .content .left-cont {
    position: absolute;
    top: 600px;
  }
  .contacts .content .right-cont {
    position: absolute;
    top: 250px;
  }
  .contacts .vert-line {
    display: none;
  }
  .contacts .footer {
    margin-top: 700px;
  }
}
@media (max-width: 700px) {
  .article-head {
    margin-bottom: 50px;
  }

  .art-item {
    display: block;
  }
  .art-image {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border: 1px solid white;
  }
  .art-image img {
    width: 95%;
    height: 200px;
  }

  .showArt-container {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .animated-title {
    height: 230px;
    width: 240px;
  }
}

@media (max-width: 600px) {
  /* ------======= About ========-------- */
  .about .about-content {
    display: inline;
    padding: 0;
  }
  .about .about-info {
    width: 100%;
    text-align: center;
    padding: 0px 50px;
  }
  .about-info .summary {
    margin: auto;
    text-align: justify;
  }
  .about-info h1 {
    text-align: center;
    position: absolute;
    top: 120px;
  }
  .about-info h2 {
    text-align: left;
    font-size: 2.4em;
    position: absolute;
    top: 170px;
  }
  .about-info .summary h5 {
    font-size: 1.4em;
    margin-bottom: 50px;
    text-align: left;
    position: absolute;
    top: 230px;
    padding-right: 20px;
  }
  .about-info .summary p {
    position: absolute;
    top: 850px;
    padding-right: 50px;
  }
  .about-info .summary #sum-sec {
    position: absolute;
    top: 1100px;
    padding: 0px 50px;
  }

  .about-info .skills {
    position: absolute;
    top: 1240px;
    padding: 0px 60px;
  }
  .about-info .skills #skills-title {
    position: absolute;
    top: -50px;
  }
  .about-info .skills #skills-two {
    margin-left: 40px;
  }
  .about-profile {
    position: absolute;
    top: 375px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about aside {
    top: 200px;
  }
  .about aside .vert-line {
    display: none;
  }
  /* ----------========= works ====----------------- */
  .works aside {
    display: none;
  }
  .works .works-title {
    margin-left: 20px;
  }
  .works .works-cont {
    display: inline;
    margin: auto;
  }
  .works .works-cards {
    /* margin: 30px; */
    height: 900px;
  }
  .works .expl-works {
    width: 90%;
    margin-top: 10px;
    height: 250px;
    left: 20px;
  }
  .works .works-cards {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 320px;
    margin-left: 20px;
  }
  .works-cards .frame img {
    width: 86%;
    margin: 2%;
  }
  .works .footer {
    margin: 50px 50px 60px 100px;
  }

  /* --------------============= User login with Acc ===========--------- */

  .user-login .login-title {
    margin-top: 100px;
  }
  .user-login .login-cont {
    display: block;
  }
  .user-login .login-right div {
    text-align: center;
  }
  .user-login .login-left {
    margin-bottom: 50px;
  }
  .user-login .login-left form input {
    font-size: large;
  }
  .user-login-footer {
    width: 100%;
    padding: 0px;
    margin-top: 250px;
  }
  .user-login-footer .user-signUP {
    margin-top: -60px;
    margin-left: -50px;
    font-size: x-small;
  }
  .user-login-footer .user-signUP strong {
    font-size: 0.5em;
  }

  /* ============---------- Articles list ----------------========= */

  .articles aside {
    display: none;
  }
  .showArt aside {
    display: none;
  }
}

@media (max-width: 450px) {
  .article-head {
    width: 50%;
  }
  .article-head form input {
    width: 200px;
    margin: 5px 0px;
  }
  .article-head form button {
    width: 200px;
  }
}
